# Tuple

### Q1: Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 
```

In [17]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
unique = []

for i in test_list:
    unique.append(i[0])
unique = set(unique)

result = []
for i in unique:
    result.append([i])
    for j in test_list:
        if j[0] == i:
            result[-1].append(j[1])
            
print(result)

[[5, 6, 7, 8], [6, 10], [7, 13]]

### Q2 Multiply Adjacent elements (both sides) and take the sum of the right and lest side multiplication results. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [29]:
t = (1, 5, 7, 8, 10)

L = []
L.append(t[0] * t[1])


for i in range(1, len(t) -1):
    L.append(t[i] * t[i - 1] + t[i] * t[i + 1])

L.append(t[-1] * t[-2])
print(L)

[5, 40, 91, 136, 80]

### Q3: Check if the tuples are the same or not?
Two tuples would be the same if both tuples have the same element at the same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not the same
```

In [32]:
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

if t1 == t2:
    print("Tuples are same")
else:
    print("Tuples are not same")

Tuples are not same

### Q4: Count no of tuples, lists, and sets from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [35]:
L = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

output = [0,0,0]
for i in L:
    if type(i) == list:
        output[0] += 1
    elif type(i) == set:
        output[1] += 1
    elif type(i) == tuple:
        output[2] += 1
    else:
        pass

print(f"List-{output[0]}\nSet-{output[1]}\nTuples-{output[2]}")

List-2
Set-2
Tuples-1

### Q5: Shortlist Students for a Job Role
Ask the user to input students' records and store them in tuples for each record. Then ask the user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [1]:
# Number of student records
n = int(input("Enter No of records- "))

students = []

# Collect each student's details
for i in range(1, n + 1):
    print(f"Enter Details of student-{i}")
    name = input("Enter Student name- ")
    education = input("Enter Higher Education- ")
    skill = input("Enter Primary Skill- ")
    grad_year = input("Enter Year of Graduation- ")
    
    # Store each record as a tuple
    students.append((name, education, skill, grad_year))

# Job role requirement
print("\nEnter Job Role Requirement")
req_skill = input("Enter Skill- ")
req_education = input("Enter Higher Education- ")
req_year = input("Enter Year of Graduation- ")

# Filtering candidates
matched = []

for s in students:
    if s[1] == req_education and s[2] == req_skill and s[3] == req_year:
        matched.append(s)

# Output result
if matched:
    for m in matched:
        print(m)
else:
    print("No such candidate")

Enter No of records-  jfkjs

ValueError: invalid literal for int() with base 10: 'jfkjs'

# Set

### Q1: Write a program to find a set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [10]:
ar1 = set([1, 5, 10, 20, 40, 80])
ar2 = set([6, 7, 20, 80, 100])
ar3 = set([3, 4, 15, 20, 30, 70, 80, 120])

result = (ar1 & ar2) & ar3
print(list(result))

[80, 20]

### Q2: Write a program to count the unique number of vowels using sets in a given string. Lowercase and uppercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at an affordable fee only on Campus.X."
```
`Output:`
```
No of unique vowels-6
```

In [30]:
vowels = set("aeiouAEIOU")
s = set("hands-on data science mentorship progrAm with live classes at an affordable fee only on Campus.X.")

print("No of unique vowels-",len(s & vowels))

No of unique vowels- 6

### Q3:  Write a program to Check if a given string is a binary string or not. 

A string is said to be binary if it consists of only two unique characters.

Take string input from the user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [34]:
s = "010101010"

if len(set(s)) == 2:
    print("Binary.")
else:
    print("Not Binary.")

Binary.

### Q4: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:


[1, 2, 3, 4, 5, 6, 7, 9]

In [39]:
L = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s = set()

for i in L:
    s.update(i)

print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

### Q5: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:

lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

Output:

[9, 11, 26, 28]

In [ ]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69} 
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

[item for item in lst1 if item in lst2]