# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [2]:
print("Data" "Science" "Mentorship" "Program", sep='-', end='-started-')
print("By" "CampusX", sep='-')

DataScienceMentorshipProgram-started-ByCampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [22]:
celsius = float(input('Temperature in Celsius: '))
fahrenheit = (celsius * 9/5) + 32
print(f"Temperature in fahrenheit is: {fahrenheit}.")

Temperature in Celsius:  100

Temperature in fahrenheit is: 212.0.

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [35]:
f_num = int(input("Enter your first number: "))
s_num = int(input("Enter your second number: "))

temp = f_num
f_num = s_num
s_num = temp

print(f"f_num is {f_num}")
print(f"s_num is {s_num}")

Enter your first number:  5
Enter your second number:  10

f_num is 10
s_num is 5

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [38]:
# Taking input for the first coordinate (x1, y1)
x1 = float(input("Enter x1: "))
y1 = float(input("Enter y1: "))

# Taking input for the second coordinate (x2, y2)
x2 = float(input("Enter x2: "))
y2 = float(input("Enter y2: "))

# Calculating the Euclidean distance without math module
distance = ((x2 - x1)**2 + (y2 - y1)**2) ** 0.5

# Displaying the result
print(f"The Euclidean distance between the two points is: {distance:.2f}")

Enter x1:  14
Enter y1:  51
Enter x2:  12
Enter y2:  57

The Euclidean distance between the two points is: 6.32

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [41]:
# Taking input from the user
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the rate of interest (in %): "))
time = float(input("Enter the time period (in years): "))

# Calculating simple interest
simple_interest = (principal * rate * time) / 100

# Displaying the result
print(f"The Simple Interest is: {simple_interest:.2f}")

Enter the principal amount:  5000
Enter the rate of interest (in %):  5
Enter the time period (in years):  2

The Simple Interest is: 500.00

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [4]:
# Program to find the number of dogs and chickens
# based on total heads and legs

# Input from user
heads = int(input("Enter total number of heads: "))
legs = int(input("Enter total number of legs: "))



dogs = (legs - 2 * heads) // 2
chickens = heads - dogs

# Check for validity
if dogs < 0 or chickens < 0 or legs % 2 != 0:
    print("No valid solution exists.")
else:
    print(f"Dogs -> {dogs}")
    print(f"Chickens -> {chickens}")

Enter total number of heads:  8
Enter total number of legs:  10

No valid solution exists.

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [15]:
n = int(input("Enter a number: "))

result = (n*(n+1)*(2*n + 1)) / 6
print(result)

Enter a number:  6

91.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [19]:
first_term = int(input("Enter the first term: "))
second_term = int(input("Enter the second term: "))
n = int(input("Enter the value of n"))

d = second_term - first_term

an = first_term + (n - 1) * d
print(an)

Enter the first term:  2
Enter the second term:  4
Enter the value of n 9

18

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [24]:
n1 = int(input("Enter num1: "))
d1 = int(input("Enter den1: "))
n2 = int(input("Enter num2: "))
d2 = int(input("Enter den2: "))

rn = n1*d2 + n2*d1
rd = d1 * d2

print('{}/{}'.format(rn, rd))

Enter num1:  12
Enter den1:  15
Enter num2:  41
Enter den2:  52

1239/780

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
import math

# Input values
H = float(input("Enter height of tank (cm): "))
L = float(input("Enter length of tank (cm): "))
B = float(input("Enter breadth of tank (cm): "))

h = float(input("Enter height of glass (cm): "))
r = float(input("Enter radius of glass (cm): "))

# Volume calculations
tank_volume = H * L * B
glass_volume = math.pi * (r ** 2) * h

# Number of glasses
num_glasses = tank_volume / glass_volume

print(f"\nNumber of glasses of milk that can be obtained: {int(num_glasses)}")